<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div class="row">
      <div class="alert alert-danger">
        <h5><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h5>

        <ul>
        <% @person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :first_name %><br>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :last_name %><br>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email %><br>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :company_name %><br>
        <%= f.text_field :company_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :phone1 %><br>
        <%= f.phone_field :phone1, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :phone2 %><br>
        <%= f.phone_field :phone2, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :web %><br>
        <%= f.url_field :web, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :address %><br>
        <%= f.text_field :address, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :county %><br>
        <%= f.text_field :county, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :zip %><br>
        <%= f.text_field :zip, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :state %><br>
        <%= f.collection_select :state_id, states_in_order, :id, :acronym, { prompt: true},
                { class: "form-control" } %>
      </div>
      <div class="form-group">
        <%= f.label :city %><br>
        <%= f.collection_select :city_id, cities_in_order(@person[:state_id]), :id, :name, {},
                                { class: "form-control", disabled: (true unless @person[:city_id]) } %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 form-group">
      <%= f.submit class: "btn btn-md btn-primary" %>
    </div>
  </div>
<% end %>
