<h1>Editing Person</h1>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6">
    <p class="lead">
      <strong>First name:</strong>
      <%= @person.first_name %>
    </p>

    <p class="lead">
      <strong>Last name:</strong>
      <%= @person.last_name %>
    </p>

    <p class="lead">
      <strong>Company name:</strong>
      <%= @person.company_name %>
    </p>

    <p class="lead">
      <strong>Phones:</strong>
      <%= @person.phone1 %> / <%= @person.phone2 %>
    </p>

    <p class="lead">
      <strong>Email:</strong>
      <%= @person.email %>
    </p>
  </div>
  <div class="col-md-6">
    <p class="lead">
      <strong>Address:</strong>
      <%= @person.address %>
    </p>

    <p class="lead">
      <strong>County:</strong>
      <%= @person.county %>
    </p>

    <p class="lead">
      <strong>Zip:</strong>
      <%= @person.zip %>
    </p>

    <p class="lead">
      <strong>Web:</strong>
      <%= link_to @person.web, @person.web, target: "_blank" %>
    </p>
  </div>
</div>

<div class="row">
  <%= link_to 'Edit', edit_person_path(@person), class: "btn btn-default" %>
  <%= link_to 'Back', people_path, class: "btn btn-default" %>
<div>
